.comment-box {
    display: flex;
    flex-direction: row;
}

.actual-comment {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.avatar {
    width: 5%;
}

.commenter {
    font-size: 12px;
    font-weight: 600;
}

.commented {
    font-size: 12px;
    padding-left: 10px;
}

.the-comment {
    font-size: 14px;
}

.likes-reply {
    color: rgb(88, 88, 88);
}

.like2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 50%;
    font-size: 14px;
}

.dislike2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 50%;
    font-size: 14px;
}

.likes-container2 {
    display: flex;
    flex-direction: row;
    width: 50%;
}