html, body {
    height: 100%;
    width: 100%;
    // overflow-y: auto;
}

#root {
    height: 100%;
    width: 100%;
}

.application {
    height: 100%;
    width: 100%;
}

.main-content {
    display: flex;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.sidebar {
    position: fixed;
    background-color: #ffffff;
    display: none;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 4.02%;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 100%;
}

.sidebar-items > .div > .svg-inline--fa {
    width: 24px;
    height: 24px;
}

.item {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    flex-direction: column;
    span {
        font-size: 10px;
    }
}

.item:hover {
    cursor: pointer;
}

.index-section {
    height: 100%;
    width: 96.98%;
    margin-left: 12.6%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    height: 85%;
    margin: 4% auto;
    padding-top: 10px;
    border: 1px solid #888;
    border-radius: 7px;
    width: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-description {
    border: 1px solid lightgray;
    height: 70%;
    width: 60%;
    border-radius: 7px;
    padding-left: 7px;
}

#form-title {
    border: 1px solid lightgray;
    height: 10%;
    width: 60%;
    margin: 10px 0;
    border-radius: 7px;
    padding-left: 7px;
}

.top-of-modal {
    display: flex;
    height: 7%;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid lightgray;
    h1 {
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
    }
}

.second-part {
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left-upload {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 0 1px;
}

textarea {
    resize: none;
}

.right-upload {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 12px;
}

.buttons {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-content: flex-end;
    img {
        display: block;
        width: 100%;
        height: auto;
        padding: 2px;
    }
}

.running {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.hurry {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 50%;
    video {
        height: auto;
        width: 100%;
        padding: 2px;
    }
}

.submit-the-video {
    border: 1px;
    border-radius: 7px;
    background: #1a73e8;
    color: white;
    padding: 10px 20px;
    height: 5%;
    align-self: end;
}

// .video-preview {
//     height: 50%;
//     width: 50%;
// }

.image-preview {
    height: 50%;
    width: 50%;
}

.inputs {
    height: 100%;
}

.modal-content2 {
    display: flex;
    background-color: #fefefe;
    height: 85%;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 7px;
    width: 48%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.middle-icon {
    height: 33%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2, button {
        font-family: sans-serif;
        font-size: 12px;
    }
}

.close, .close2 {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    top: 80px;
    right: 505px;
}

#center-modal {
    color: gray;
    height: 50px;
    width: 50px;
}

.video-submit {
    border: 1px;
    border-radius: 7px;
    background: #1a73e8;
    color: white;
    padding: 10px 30px;
}

.close:hover, .close:focus, .close2:hover, .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}